.main .left{padding-left: 60px;}

.main .left .h1{
    font-size: 74px;
    line-height: 4rem;
}
.main .left .h1 .btn2{
    margin-left: 0px;
}
.container .navbar{
    justify-content: none;
    padding-left: 20px;
    align-items: none;
}
.container .navbar nav{
    align-items: normal;
}
.container .navbar nav ul {

margin-left: 0px;
}
 .narbar nav ul li{
    margin-left: 0px;
}
.container .navbar .btn{
    position: absolute;
    top: 100px;
    left: 100px;
}
.right .shoe{
    width: 400px;
    margin-top: 0rem;
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.02);
}